<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<title>Online Text</title>
</head>
<body class='bodyText'>
<div>
    <nav class="navbar bg-dark fixed-top  navbar-dark CourseInfoNav">
  <div class="container-fluid">
      <div>
     
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      
      
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lucky Singh Chouhan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    
    </div>
  </div>
</nav>


<div class="courseInfoHeadr">
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Daily Current Affairs</div>
      Prepration of UPSC Examination
    </div>
    <span class="badge bg-primary rounded-pill">>></span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Daily Current Affairs</div>
      Prepration of UPSC Examination
    </div>
    <span class="badge bg-primary rounded-pill">>></span>
  </li>
  <li  id="navigateYoutube" class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Live Classes</div>
   <a  title="description">Go to Live Classes</a>
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  
</ul>
</div>

<div class="CourseBody">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card card-shedow">
    <div class="card-header bg-transparent border-success"> FREE</div>
      <div class="card-body">
        <h5 class="card-title">SSC Examination</h5>
        <p class="card-text">SSC Examination paper 2022-2023</p>
      </div>
      <div class="card-footer bg-transparent border-success"><button type="button" id="sscExamination" class="btn btn-success">View Details</button></div>
    </div>
    
  </div>
  <div class="col">
   <div class="card card-shedow">
    <div class="card-header bg-transparent border-success">PAID</div>
      <div class="card-body">
        <h5 class="card-title">SSC Examination</h5>
        <p class="card-text">SSC Examination paper 2022-2023</p>
      </div>
      <div class="card-footer bg-transparent border-success"><button type="button" id="sscExamination" class="btn btn-success">View Details</button></div>
    </div>
  </div>
  <div class="col">
     <div class="card card-shedow">
    <div class="card-header bg-transparent border-success">Free</div>
      <div class="card-body">
        <h5 class="card-title">SSC Examination</h5>
        <p class="card-text">SSC Examination paper 2022-2023</p>
      </div>
      <div class="card-footer bg-transparent border-success"><button type="button" id="sscExamination" class="btn btn-success">View Details</button></div>
    </div>
  </div>
  <div class="col">
    <div class="card card-shedow">
    <div class="card-header bg-transparent border-success">PAID</div>
      <div class="card-body">
        <h5 class="card-title">SSC Examination</h5>
        <p class="card-text">SSC Examination paper 2022-2023</p>
      </div>
      <div class="card-footer bg-transparent border-success"><button type="button" id="sscExamination" class="btn btn-success">View Details</button></div>
    </div>
  </div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="/js/CourseInfo.js"></script>
</body>
</html>