<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<title>Page Title</title>
</head>
<body>
    <div class="container">
      <div class="center"><h3>Full Mock Test</h3></div>
      <div class="row">
  <div class="col">Duration:90 Mins</div>
  <div class="col">Maximum Marks:100</div>
 
</div>
    
      <div>
        <ul class="list-group list-group-flush">
  <li class="list-group-item">The Test Contains 100 total questions.</li>
  <li class="list-group-item">Each Question has 4 options out of which only one is correct.</li>
  <li class="list-group-item">you have to finish the test in 90 minutes.</li>
  <li class="list-group-item">Try not to guess the answer as there is negative marking.</li>
  <li class="list-group-item">You will be awarded 1 mark for each correct answer and 0.5 will be deducted for each wrong answer.</li>
  <li class="list-group-item">There is no negative marking for the questions that you have not attempted..</li>
  <li class="list-group-item">you can write this only once. Make sure that you complete your test before you submit the test and/or close the broweser.</li>
  <li class="list-group-item">I have read all the instructions carefully and have understood them.</li>
</ul>
      </div>
      <div>
        <div class="d-grid gap-2 d-md-block">
  
</div>

<div class="fixed-bottom">
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
      <div class="container-fluid justify-content-center">
        <div>
          <button class="btn btn-primary" type="button">Exit</button>
           <button class="btn btn-primary" id="move_question" type="button">Agree and Continue</button>
        </div>
        
      </div>
    </nav>
   
    </div>


      </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="/js/CourseInfoPreRequest.js"></script>
</body>
</html>