.login_home_page{
    
    background-image: url("/img/29985.jpg");
    background-size: cover;
}
.login_home_page1{
    
    background-image: url("/img/login1.jpg");
    background-size: cover;
}
.signIn{
margin-left: 37%;
margin-top: 6%;
font-family: emoji;
color: black;
}

.bodyText{
    font-family: emoji; 
}

.courseInfoHeadr{
    
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#login-userid{
    background-color: antiquewhite;
}
#login-password{
    background-color: antiquewhite;
}


.CourseBody{
    padding: 2%;

}

.CourseInfoNav{
    position: inherit;
}

.center{
    text-align: center;
    margin-top: 5%;
}

.paginationNav{
    padding: 4%;
}
.card-shedow{
    box-shadow: 1px 2px black;
}



.container_new{
    /* width: 35%;
    background: white;
    position: fixed;
    margin-left: 33%;
    margin-top: 6%;
    border: 1.5px solid #0f1447; */

   
    margin-top: 35%;
   
}

.login_input{
    width: 82%;
    margin-left: 9%;

}

